.container {
    padding-bottom: 5em;
}

.form-group {
    /* margin-left: 40em; */
    border-style: none;
    margin-top: 1em;
}

.row.one {
    border-style: solid;
}

.row.display {
    padding-left: 1em;
}

.col-sm {
    padding: 10px;
    padding-left: 1em;
}

.thumbnail {
    padding-left: 1em;
}

#version {
    margin-bottom: -1em;
}

#image-id {
    margin-bottom: 1.5em;
}

.btn-primary {
    /* margin-right: 10px; */
    width: 50%
}

.btn-secondary {
    margin-right: 10px;
}

.btn {
    margin: 5px
}

#dropdown {
    width: 10em;
    border-color: #ced4da;
    border-radius: .25rem;
    height: calc(1.5em + .75rem + 2px)
}

#btn-warning {
    /* background-color: #333; */
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
}

#actions {
    width: 70%;
    border-radius: .25rem;
    border: 1px solid #ced4da;
}